body {
    background-color: #F5F5F5;
}

.MuiTableBody-root .MuiTableRow-root:hover { 
    background: linear-gradient(45deg, rgba(12,231,236,0.2) 30%, rgba(132,0,255,0.2) 90%);
}

.MuiTableBody-root .MuiTableRow-root:hover .MuiPaper-root { 
    background: #0cecda;
}

.MuiTableBody-root .MuiPaper-root { 
    justify-content: center;
    padding: 10px;
}

.MuiButtonBase-root	{
    background: linear-gradient(45deg, rgba(12,231,236,7) 30%, rgba(132,0,255,7) 90%);
}
